PORT=9000
MONGO_URI=mongodb://localhost:27017/vibrer
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=1d
STORE_API_KEY=pk_1a31e39272a73c244038143d65d47b3bcb204467cdc7bb0d898f0a932b74d480
ADMIN_CORS_ORIGIN=http://localhost:5174
STORE_CORS_ORIGIN=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=vibrer
